h1{
    font-family: 'Almendra SC', serif; /* Special font applied here */
    text-align: center;
    font-size: 90px; 
    margin: 0 0 5px 0;
  
}
h2 {
  font-family: "Shizuru", system-ui;
  font-weight: 550;
  font-style: normal;
  font-size:50px;
  text-align:left;

}
h3 {

    font-family: 'Almendra SC', serif; /* Special font applied here */
    text-align: left;
    font-size: 40px; 
    margin: 0 0 5px 0;

}
